# PyCitySchools Analysis
- Analysis goes here
- Second Point
---

In [12]:
#import dependencies
import pandas as pd
from pathlib import Path

#load files
load_school_data = Path("../Resources/schools_complete.csv")
load_student_data = Path("../Resources/students_complete.csv")

#read files and store as pandas dataframes
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

#merge data
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary
---

In [13]:
#calculate the total number of unique schools
school_count = len(pd.unique(df["school_name"]))
school_count

15

In [14]:
#calculate the total number of students by ID
#using ID because some students have the same name
student_count = len(pd.unique(df["Student ID"]))
student_count

39170

In [15]:
#calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [16]:
#calculate the average (mean) math score
avg_math_score = df["math_score"].mean()
avg_math_score

78.98537145774827

In [17]:
#calculate the average (mean) reading score
avg_read_score = df["reading_score"].mean()
avg_read_score

81.87784018381414

In [18]:
#calculate the percentage of students who passed math 
#(math scores greather than or equal to 70)
pass_math_count = df[(df["math_score"] >= 70)].count()["Student ID"]
pass_math_percent = pass_math_count/float(student_count) * 100
pass_math_percent

74.9808526933878

In [19]:
#calculate the percentage of students who passed reading 
#(reading scores greather than or equal to 70)
pass_read_count = df[(df["reading_score"] >= 70)].count()["Student ID"]
pass_read_percent = pass_read_count/float(student_count) * 100
pass_read_percent

85.80546336482001

In [20]:
#calculate the percentage of students who passed both
pass_tests_count = df[(df["math_score"] >= 70) & (df["reading_score"] >= 70)].count()["Student ID"]
pass_tests_percent = pass_tests_count/float(student_count) * 100
pass_tests_percent

65.17232575950983

In [21]:
#create a high level snapshot of the districts key metrics in a data frame

district_summary = pd.DataFrame({"Total Number of Unique Schools": [school_count], 
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [avg_math_score],
                                "Average Reading Score": [avg_read_score],
                                "% Passing Math": [pass_math_percent],
                                "% Passing Reading": [pass_read_percent],
                                "% Overall Passing": [pass_tests_percent]})

#format district summary
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)


district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [26]:
# Use the code provided to select all of the school types
school_types = df['type'].unique()

[type for type in school_types]

['District', 'Charter']

In [49]:
# Calculate the total student count per school
per_school_counts = df.groupby('school_name')['Student ID'].count()
#per_school_counts

print('''Students per School
----------------------------------''')
for school, students in per_school_counts.items():
    print(f'{school}: {students} students')

Students per School
----------------------------------
Bailey High School: 4976 students
Cabrera High School: 1858 students
Figueroa High School: 2949 students
Ford High School: 2739 students
Griffin High School: 1468 students
Hernandez High School: 4635 students
Holden High School: 427 students
Huang High School: 2917 students
Johnson High School: 4761 students
Pena High School: 962 students
Rodriguez High School: 3999 students
Shelton High School: 1761 students
Thomas High School: 1635 students
Wilson High School: 2283 students
Wright High School: 1800 students

In [58]:
# Calculate the total school budget and per capita spending per school
per_school_budget = df.groupby('school_name')['budget'].first()

print('''Budget per School
----------------------------------''')
for school, budget in per_school_budget.items():
    print(f'{school}: ${budget:,.2f}')

print()

# find budget per student
per_school_capita = per_school_budget / per_school_counts

print('''Budget per Student
----------------------------------''')
for school, capita in per_school_capita.items():
    print(f'{school}: ${capita:,.2f} per student')

Budget per School
----------------------------------
Bailey High School: $3,124,928.00
Cabrera High School: $1,081,356.00
Figueroa High School: $1,884,411.00
Ford High School: $1,763,916.00
Griffin High School: $917,500.00
Hernandez High School: $3,022,020.00
Holden High School: $248,087.00
Huang High School: $1,910,635.00
Johnson High School: $3,094,650.00
Pena High School: $585,858.00
Rodriguez High School: $2,547,363.00
Shelton High School: $1,056,600.00
Thomas High School: $1,043,130.00
Wilson High School: $1,319,574.00
Wright High School: $1,049,400.00

Budget per Student
----------------------------------
Bailey High School: $628.00 per student
Cabrera High School: $582.00 per student
Figueroa High School: $639.00 per student
Ford High School: $644.00 per student
Griffin High School: $625.00 per student
Hernandez High School: $652.00 per student
Holden High School: $581.00 per student
Huang High School: $655.00 per student
Johnson High School: $650.00 per student
Pena High School: $609.00 per student
Rodriguez High School: $637.00 per student
Shelton High School: $600.00 per student
Thomas High School: $638.00 per student
Wilson High School: $578.00 per student
Wright High School: $583.00 per student

In [62]:
# Calculate the average test scores per school

# math
per_school_math = df.groupby('school_name')['math_score'].mean()

print('''Average Math Score per School
----------------------------------''')
for school, math in per_school_math.items():
    print(f'{school}: {math:.2f}')

print()

#reading
per_school_reading = df.groupby('school_name')['reading_score'].mean()

print('''Average Reading Score per School
----------------------------------''')
for school, reading in per_school_reading.items():
    print(f'{school}: {reading:.2f}')

Average Math Score per School
----------------------------------
Bailey High School: 77.05
Cabrera High School: 83.06
Figueroa High School: 76.71
Ford High School: 77.10
Griffin High School: 83.35
Hernandez High School: 77.29
Holden High School: 83.80
Huang High School: 76.63
Johnson High School: 77.07
Pena High School: 83.84
Rodriguez High School: 76.84
Shelton High School: 83.36
Thomas High School: 83.42
Wilson High School: 83.27
Wright High School: 83.68

Average Reading Score per School
----------------------------------
Bailey High School: 81.03
Cabrera High School: 83.98
Figueroa High School: 81.16
Ford High School: 80.75
Griffin High School: 83.82
Hernandez High School: 80.93
Holden High School: 83.81
Huang High School: 81.18
Johnson High School: 80.97
Pena High School: 84.04
Rodriguez High School: 80.74
Shelton High School: 83.73
Thomas High School: 83.85
Wilson High School: 83.99
Wright High School: 83.95

In [67]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = df[df['math_score'] >= 70].groupby('school_name')['Student ID'].count()

students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [68]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = df[df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [74]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = df[
    (df["reading_score"] >= 70) & (df["math_score"] >= 70)
]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [73]:
# Use the provided code to calculate the passing rates
students_passing_math = students_passing_math / per_school_counts * 100
students_passing_reading = students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [75]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (2536131374.py, line 2)